@use "import" as *;

main {
  padding: $space-md;
}

.panel-icons {
  margin: 0 $space-md;
  padding: 0.75rem;
  font-size: $font-lg !important;
  height: $font-lg !important;
  width: $font-lg !important;

  &.caret {
    padding-right: $space-xs;
  }
}

mat-panel-title {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: center;
}

mat-expansion-panel {
  &:not(:last-child) {
    margin-bottom: $space-md;
  }

  color: var(--bgTxt);
  background-color: var(--bgBkg);
  border-radius: $border-radius;

  >mat-expansion-panel-header {
    background-color: $opaque-blue !important;
    border: 2px solid var(--bgTxt);
  }
}

span {
  font-size: $font-lg;
}

.header-title {
  display: flex;
  align-items: center;

}