<main>
  <!-- About Me Panel -->
  <mat-expansion-panel hideToggle [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="header-title">
          <mat-icon [fontSet]="iconSet" [fontIcon]="icons.BOOK" class="panel-icons"></mat-icon>
          <span>{{ "LBL_ABOUT_ME" | transloco }}</span>
        </div>
          <mat-icon [fontSet]="iconSet" [fontIcon]="icons.CARET_DOWN" class="panel-icons caret"></mat-icon>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-about-me/>
  </mat-expansion-panel>

  <!-- Projects Panel -->
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="header-title">
          <mat-icon [fontSet]="iconSet" [fontIcon]="icons.LIST" class="panel-icons"></mat-icon>
          <span>{{ "LBL_PROJECTS" | transloco }}</span>
        </div>
        <mat-icon [fontSet]="iconSet" [fontIcon]="icons.CARET_DOWN" class="panel-icons caret"></mat-icon>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-projects/>
  </mat-expansion-panel>

  <!-- Skills Panel -->
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="header-title">
        
          <mat-icon [fontSet]="iconSet" [fontIcon]="icons.LIGHTBULB" class="panel-icons"></mat-icon>
          <span>{{ "LBL_SKILLS" | transloco }}</span>
        </div>
        <mat-icon [fontSet]="iconSet" [fontIcon]="icons.CARET_DOWN" class="panel-icons caret"></mat-icon>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-skills/>
  </mat-expansion-panel>
</main>