@use "../../../assets/stylesheets/variables" as *;

.flex-container {
  display: flex;
}

header {
  padding: $space-md;

  >.header-name {
    text-align: center;
    flex-grow: 1;

    >p:first-child {
      font: $font-xxl bolder;
    }
  }

  >.header-options {
    justify-content: flex-end;
    flex-grow: 2;
  }
}