<header class="flex-container">
  <div class="header-name">
    <p>Christopher DeHaan</p>
    <p class="title">Web Developer</p>
  </div>
  <div class="header-options flex-container">
    <section>
      <app-button-icon
        [iconClass]="'custom-icon'"
        [set]="iconSet"
        [icon]="icons.LANGUAGE"
        [ariaLabel]="'Language'"
        (clicked)="onLanguageChange()"
      ></app-button-icon>
      <app-button-icon
        [iconClass]="'custom-icon'"
        [set]="iconSet"
        [icon]="isLightMode ? icons.SUN : icons.MOON"
        [ariaLabel]="'Theme'"
        (clicked)="onThemeChange()"
      ></app-button-icon>
    </section>
  </div>
</header>