@use "../../../assets/stylesheets/variables" as *;
@use "../../../assets/stylesheets/breakpoints" as *;
@use "../../../assets/stylesheets/components" as *;

.flex-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  @include respond-to("medium") {
    flex-direction: row;
  }
}

header {
  padding: $space-md;

  >.header-name {
    text-align: center;

    @include respond-to("medium") {
      flex-grow: 1;
    }

    >p:first-child {
      font-weight: 500;
      font-size: $font-xl;
      padding-bottom: $space-sm;

      @include respond-to("medium") {
      font-size: $font-xxl;
      }
    }

    >.title {
      font-weight: 400;
      font-size: $font-lg;
      padding: $space-md 0;
      border-top: solid 4px var(--bgTxt);
      border-radius: $border-radius;

      @include respond-to("medium") {
      font-size: $font-xl
      }
    }
  }

  >.header-options {
    justify-content: space-around;

    @include respond-to("medium") {
      justify-content: flex-end;
      padding-right: $space-xl;
      flex-grow: 2;
    }
  }
}

// .mat-mdc-button > .mat-icon {
// .custom-icon {
//   margin-right: 0;
//   padding: .75rem;
//   font-size: 1.5rem !important;
//   height: 1.5rem !important;
//   width: 1.5rem !important;

//   @include respond-to("medium") {
//   font-size: 2.25rem !important;
//   height: 2.25rem !important;
//   width: 2.25rem !important;
//   transition-duration: 150ms;
//   }

//   &:hover {
//     transform: translateY(-0.2rem);
//   }
// }