<header class="flex-container">
  <div class="header-name">
    <p>Christopher DeHaan</p>
    <p class="title">Web Developer</p>
  </div>
  <div class="header-options flex-container">
    <section>
      <button matButton type="button" (click)="onLanguage()" aria-label="Language" tabIndex="0">
        <mat-icon class="custom-icon" [fontSet]="iconSet" [fontIcon]="icons.LANGUAGE"></mat-icon>
      </button>
      <button matButton type="button" (click)="onTheme()" aria-label="Theme" tabIndex="0">
        <mat-icon class="custom-icon" [fontSet]="iconSet" [fontIcon]="isLightMode ? icons.SUN : icons.MOON"></mat-icon>
      </button>
    </section>
  </div>
</header>