@use "breakpoints" as *;
@use "variables" as *;

.custom-icon {
  margin-right: 0;
  padding: 0.75rem;
  font-size: $font-lg !important;
  height: $font-lg !important;
  width: $font-lg !important;

  @include respond-to("medium") {
  font-size: 2.25rem !important;
  height: 2.25rem !important;
  width: 2.25rem !important;
  transition-duration: 150ms;
  }

  &:hover {
    transform: translateY(-0.2rem);
  }
}