@use "mixins" as *;

body {
  background-image: var(--bgImg);
  background-color: var(--bgBkg);
  background-size: cover;
  background-position: center;
  color: var(--bgTxt);
}

body.lightmode {
  @include setLightMode();
}

body.darkmode {
  @include setDarkMode();
}