@use "variables" as *;

@mixin setLightMode() {
  --bgImg: #{$bg_light-img};
  --bgBkg: #{$bg_light-bkg};
  --bgTxt: #{$bg_light-txt};
}

@mixin setDarkMode() {
  --bgImg: #{$bg_dark-img};
  --bgBkg: #{$bg_dark-bkg};
  --bgTxt: #{$bg_dark-txt};
}