@use "variables" as *;
@use "breakpoints" as *;

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}

main {
  padding: $space-md;
  overflow: hidden;
}

p {
  margin: $space-xs $space-xs;
}

p, li {
  font-size: $font-mdx;
}

.mat-mdc-button > .mat-icon {
  margin-right: 0;
  padding: .75rem;
  font-size: 1.5rem;
  height: 1.5rem;
  width: 1.5rem;

  @include respond-to("medium") {
  font-size: 2.25rem;
  height: 2.25rem;
  width: 2.25rem;
  transition-duration: 150ms;
  }

  &:hover {
    transform: translateY(-0.2rem);
  }
}