// SPACING
$space-xs: 0.25rem;
$space-sm: .5rem;
$space-md: 1rem;
$space-lg: 2rem;
$space-xl: 3rem;

// FONT SIZE
$font-xs: 1rem;
$font-sm: .75rem;
$font-md: 1rem;
$font-mdx: 1.25rem;
$font-lg: 1.5rem;
$font-xl: 2.5rem;
$font-xxl: 4rem;

// COLORS
$dark-blue: rgb(5, 8, 44);
$opaque-blue: rgba(25,60,137,.2);

// BACKGROUND VARIABLES
$bg_light-img: url("../img/background-light.webp");
$bg_light-bkg: white;
$bg_light-txt: $dark-blue;

$bg_dark-img: url("../img/background-dark.webp");
$bg_dark-bkg: $dark-blue;
$bg_dark-txt: white;

// UTILITY
$border-radius: 5px;